---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Web and Hybrid Apps",
    description:
      "Using Angular, Ionic, Capacitor, HTML5, CSS3 and more, I'm building web and hybrid apps that work on any device.",
    icon: "mdi:handshake",
  },
  {
    title: "Minimalist Code",
    description:
      "Always trying to write the most efficient and only needed code possible, I'm always looking for ways to improve my code.",
    icon: "mdi:feather",
  },
  {
    title: "On-Demand Features and knowledge",
    description:
      "I'm always learning new things and I'm always ready and open to learn new things to help you with your project, when needed.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Version Control",
    description:
      "I'm using Git and GitHub to keep track of my projects and to collaborate with other developers.",
    icon: "mdi:graph",
  },
  {
    title: "Professional experience with SEO",
    description:
      "I'm using SEO best practices to make sure your website is optimized for search engines.",
    icon: "mdi:search-web",
  },
  {
    title: "Community",
    description:
      "I'm always trying to help other developers and I'm participating in a lot of dev communities and academies.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="About me" id="about-me">
  <Fragment slot="lead">
    Passionated developer with more than 5 years of professional experience.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
            <Icon name={icon} />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
