---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Front End Developer" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    <span class="text-primary">Hi,</span> my name is <span class="text-primary"
      >Valeri Getsov</span
    > and I'm a front end developer mainly using modern
    <span class="text-primary">Angular</span> and
    <span class="text-primary">Ionic</span>
    versions.
  </Fragment>
  <div class="grid grid-cols-2 gap-2">
    <a
      href="https://www.linkedin.com/in/vgetsov/"
      class="flex items-center justify-center gap-3 sm:px-6 px-4 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="linkedin" class="h-8" />
      <span>LinkedIn</span>
    </a>
    <a
      href="https://twitter.com/ValeriGetsov"
      class="flex items-center justify-center gap-3 sm:px-6 px-4 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="twitter" class="h-8" />
      <span>Twitter</span>
    </a>
    <a
      href="https://github.com/Getsov"
      class="flex items-center justify-center gap-3 px-4 sm:px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="github" class="h-8" />
      <span>GitHub</span>
    </a>
    <a
      href="mailto:valeri@getsov.dev"
      class="flex items-center justify-center gap-3 px-4 sm:px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="email" class="h-8" />
      <span>Email me</span>
    </a>
  </div>
</ContentSection>
